  <section id="navBar" class="container sticky">
      <div>
        <a href='/feed'><i class="fa-solid fa-house"></i></a>
      </div>
      <div>
        <a href="/postForm"><i class="fa-solid fa-plus"></i></a>
      </div>
      <div>
        <a href="/getSearch"><i class="fa-solid fa-location-dot"></i></a>
      </div>
    </section>

