<%- include('partials/header') -%>
<body class="container bg">
<div class="container mt-5">
    <h2>Add a post</h2>
    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <textarea class="form-control" id="country" name="country"></textarea>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">State</label>
        <textarea class="form-control" id="state" name="state"></textarea>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">City</label>
        <textarea class="form-control" id="city" name="city"></textarea>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </div>
</body>
  <%- include('partials/navBar') -%>