<%- include('partials/searchHeader') -%>
    <body>
        <div id="map" style="width:40%;height:345px"><%= map %></div>

    </body>
<%- include('partials/navBar') -%>
<%- include('partials/searchFooter') -%>


