.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

#navBar {
    background-color:#8E989A;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* general page styles */
a {
    text-decoration: none;
    color: black;
}
.bg {
    background-color: #232A2D;
}

.m2 {
    margin: 2em;
}

/* specific styles */
.caption {
    background-color: #818596;
}

