.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: left;
}

#navBar {
    background-color:#8E989A;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.sticky {
    position: fixed;
    width: 100%;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
    z-index: 1;
}

/* general page styles */
h1, h2, h3, span, p, label {
    color: #8E989A;
}
a {
    text-decoration: none;
    color: black;
}
.bg {
    background-color: #232A2D;
}

.m2 {
    margin: 2em;
}

/* specific styles */
.caption {
    background-color: #818596;
}

